* {
    text-decoration: none;
    font-family: 'Roboto';
}

.h1 {
    color: #000;
    text-align: start;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;   
    line-height: normal;
    width: 473px;
    height: 50px;
    margin-top: 70px;
}

.img {
    display: flex;  
    justify-content: space-around;
    
}

.main { 
    display: flex;
    justify-content: center; 
    gap: 80px;
    margin-top: 100px;
}

.subtitle {
    font-size: 26px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 30px;
    margin-top: 30px;
}

.button {
    background-color: #3EB25E;
    color: #fff;
    border-radius: 35px;
    border: none;
    width: 199px;
    padding: 5px 0px;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.button:hover {
    background-color: #FFFF7D;
    color:#000000;     
}

.areaBotao {
    display: inline-flex;
    padding-inline: 10px;   
    justify-content: center;
}

.buttonSkip{
    width: 420px;   
}

.buttonSkip:hover {
    background-color: #FFFF7D;
    color:#000000;     
}

.lista {
    padding-inline: 150px;
    border-radius: 10px;
    font-size: 26px;
    text-align-last: center;
}

label{
    color: #000;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

.labelMarket{
    display: flex;  
}

input[type= "radio"]{
    display: none;  
}

input[type= "radio"]:checked + .radioImg::before{
    content: url("/images/radioverdeescuro.svg");  
}

#inputMarketImg{
    cursor: pointer;
}

.radioImg::before {
    content: url("/images/radioverde.svg");
}


@media (max-width: 480px) {  
    .main { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .h1 {
        display: flex;
        font-size: 16px;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    .subtitle {
        font-size: 16px;
        width: 326px;
        height: 26px;
        padding-left: 70px;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .img {
        width: 360px;
        height: 344px;;      
    }    
    
}
