* {
    text-decoration: none;
    font-family: 'Roboto';
}

h1 {
    color: #000000;
    font-size: 111px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 180px;
}

img {
    width: 431px;
    height: 661px;
    top: 51px;
    right: 212px;
}

.button {
    background-color: #3EB25E;
    color: #fff;
    border-radius: 35px;
    border: none;
    width: 199px;
    padding: 5px 0px;
    font-weight: 700;
    font-size: 22px;
    display: block;
    text-align: center;
}

.button:hover {
    background-color: #FFFF7D;
    color:#000000;     
}

.main { 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 80px;
    padding: 51px 84px 48px 212px;
}

.subtitle {
    font-size: 29px;
    width: 473px;
    height: 47px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.areaBotao {
    display: flex;
    justify-content: center;    
}

@media (max-width: 480px) {  
    .main { 
        grid-template-columns: 100%; 
        gap: 0px;
        padding: 15px
    }
    h1 {
        font-size: 53px;
        margin-top: 0px;
    }
    .subtitle {
        font-size: 24px;
    }
    img {
        width: 271px;
        height: 416px;;      
    }
}
